{{'SETTINGS_Repositories_ConfirmDeleteMessage1'|translate}}
<br />
<br />


{{'SETTINGS_Repositories_ConfirmDeleteMessage2'|translate}}
<br />
<br />

{{'SETTINGS_Repositories_ConfirmDeleteMessage3'|translate}}
<br />
<br />
<footer>
    <ul class="list-inline pull-right">
        <li>
            <button id="submit_repository_form"
                    class="btn btn-primary"
                    ng-click="c.ok();">
                {{'SETTINGS_Repositories_Yes'|translate}}
            </button>
        </li>
        <li>
            <button id="cancel_repository_form"
                    class="btn btn-default"
                    ng-click="c.cancel()">
                {{'SETTINGS_Repositories_No'|translate}}
            </button>
        </li>
    </ul>
</footer>