<section id="page_edit_repository">
    <error-display errors="editRepoModalController.errors"
                   on-click="$root.ASM.RemoveError(error, editRepoModalController.errors)"
                   on-expand-collapse=""></error-display>
    <form id="form" 
          name="editRepoModalController.form" 
          class="form-horizontal"
          form-validation="editRepoModalController.form._submitted">
        <div class="form-group repoIndent">
            <div ng-if="editRepoModalController.type === 'resync'">
                {{'SETTINGS_Repositories_ResyncMessage'|translate}}
            </div>
        </div>

        <ul class="list-unstyled">
            <li class="form-group"
                ng-if="editRepoModalController.type === 'edit' || editRepoModalController.type === 'add'">
                <label for="name" class="col-md-4 control-label">
                    {{'SETTINGS_Repositories_Name'|translate}}
                </label>
                <div class="col-md-8">
                    <input id="name"
                           class="form-control"
                           type="text"
                           ng-disabled="editRepoModalController.type === 'edit'"
                           ng-model="editRepoModalController.repo.name"
                           required />
                    <span ng-if="editRepoModalController.form._submitted && !editRepoModalController.repo.name" class="text-danger">
                        {{'NETWORKS_Edit_Field_Required' | translate}}
                    </span>
                </div>
            </li>

            <li class="form-group"
                ng-if="editRepoModalController.type === 'edit' || editRepoModalController.type === 'add'">
                <label for="imagetype" class="col-md-4 control-label">
                    {{'SETTINGS_Repositories_ImageTypeStar'|translate}}
                </label>
                <div class="col-md-8">
                    <select id="imagetype"
                            class="form-control"
                            required
                            ng-disabled="editRepoModalController.type === 'edit'"
                            ng-model="editRepoModalController.repo.imagetype"
                            ng-options="o.id as o.name for o in editRepoModalController.constants.repositoryImageTypes">
                        <option value="">{{'SETTINGS_Repositories_SelectImageType' | translate }}</option>
                    </select>
                    <span ng-if="editRepoModalController.form._submitted && !editRepoModalController.repo.imagetype && editRepoModalController.type != 'edit'" class="text-danger">
                        {{'NETWORKS_Edit_Field_Required' | translate}}
                    </span>
                </div>
            </li>
            <li class="form-group">
                <label for="path" class="col-md-4 control-label">
                    {{'SETTINGS_Repositories_Path'|translate}}
                    <a title=""
                       popover
                       data-content-template="RepositoriesOSFilePathExample.html"
                       data-trigger="hover">
                        <i class="ci ci-info-circle-info"></i>
                    </a>
                </label>
                <div class="col-md-8">
                    <input id="path"
                           class="form-control"
                           required
                           type="text"
                           ng-disabled="editRepoModalController.type === 'sync'"
                           ng-model="editRepoModalController.repo.filepath" />
                    <span ng-if="editRepoModalController.form._submitted && !editRepoModalController.type != 'sync' && !editRepoModalController.repo.filepath" class="text-danger">
                        {{'NETWORKS_Edit_Field_Required' | translate}}
                    </span>
                </div>
            </li>
            <li class="form-group">
                <label for="username" class="col-md-4 control-label">
                    {{'SETTINGS_Repositories_UserName'|translate}}
                    <i class="ci ci-info-circle-info text-primary"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="{{'SETTINGS_Repositories_OptionalUN' |translate}}"></i>
                </label>
                <div class="col-md-8">
                    <input id="username"
                           class="form-control"
                           type="text"
                           ng-bind="editRepoModalController.$translate.instant('SETTINGS_Repositories_OptionalPW')"
                           ng-model="editRepoModalController.repo.username" />
                </div>
            </li>
            <li class="form-group">
                <label for="password"
                       class="col-md-4 control-label">
                    {{'SETTINGS_Repositories_Password'|translate}}
                    <i class="ci ci-info-circle-info text-primary"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="{{'SETTINGS_Repositories_OptionalPW' |translate}}"></i>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input id="form_password"
                               name="password"
                               ng-model="editRepoModalController.repo.password"
                               class="form-control"
                               type="password" password-viewer  />
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <footer>
        <ul class="list-inline pull-right">
            <li>
                <button id="btnTestConnection"
                        class="btn btn-default"
                        ng-click="editRepoModalController.form._submitted = true; editRepoModalController.form.$valid && editRepoModalController.testConnection()">
                    {{'SETTINGS_Repositories_TestConnection'|translate}}
                </button>
            </li>
            <li>
                <button id="submit_repository_form"
                        class="btn btn-primary"
                        ng-click="editRepoModalController.form._submitted = true; editRepoModalController.form.$valid && editRepoModalController.save();">
                    <span ng-switch="editRepoModalController.type">
                        <span ng-switch-when="edit">{{'SETTINGS_Repositories_Save'|translate}}</span>
                        <span ng-switch-when="add">{{'SETTINGS_Repositories_Add'|translate}}</span>
                        <span ng-switch-when="sync">{{'SETTINGS_Repositories_Resynchronize'|translate}}</span>
                    </span>
                </button>
            </li>
            <li>
                <button id="cancel_repository_form"
                        class="btn btn-default"
                        ng-click="editRepoModalController.cancel()">
                    {{'SETTINGS_Repositories_Cancel'|translate}}
                </button>
            </li>
        </ul>
    </footer>
    <script type="text/ng-template" id="RepositoriesOSFilePathExample.html">
        <div class="popover-body" ng-bind-html="'SETTINGS_Repositories_OSFilePathExample' | translate | htmlSafe"></div>
    </script>
</section>

