<div class="addModule">
    <error-display errors="AddModuleModal.errors"
                   on-click="$root.ASM.RemoveError(error, AddModuleModal.errors)"
                   on-expand-collapse=""></error-display>
    <form name="AddModuleModal.form"
          novalidate
          form-validation="AddModuleModal.form._submitted">
        <div class="form-group">
            <p>{{'SETTINGS_ChooseFile' | translate}}</p>
            <div class="col-sm-4" id="fileWrapper">
                <input required
                       uploader="uploader"
                       nv-file-select
                       id="addonmodulefile"
                       type="file"
                       text="Browse"
                       ng-class="{'ng-invalid' : AddModuleModal.form._submitted && !AddModuleModal.fileModel}"
                       name="addonmodulefile" />
            </div>
            <!--<div class="col-sm-2">
                <div ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar"
                             role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>-->
            <div class="clearfix"></div>
            <div ng-if="AddModuleModal.form._submitted && !AddModuleModal.fileModel" class="text-danger col-xs-12">
                {{'SETTINGS_FileRequired'|translate}}
            </div>
        </div>
    </form>
    <br />
    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button type="button" class="btn btn-primary"
                        ng-click="AddModuleModal.form._submitted = true; AddModuleModal.fileModel && AddModuleModal.save()"
                        id="addOnModuleForm">
                    {{'GENERIC_Save' | translate}}
                </button>
            </li>
            <li>
                <button type="button"
                        class="btn btn-default"
                        ng-click="AddModuleModal.cancel()"
                        id="addonmodulecancel">
                    {{'GENERIC_Cancel' | translate}}
                </button>
            </li>
        </ul>
    </footer>
</div>
