<div id="page_purgeLogs">
    <error-display errors="PurgeLogsController.errors"
                   on-click="$root.ASM.RemoveError(error, PurgeLogsController.errors)"
                   on-expand-collapse=""></error-display>
    <form name="PurgeLogsController.purgeLogsForm"
          id="purgeLogsForm"
          class="form-horizontal"
          form-validation="PurgeLogsController.purgeLogsForm._submitted"
          novalidate>
        <div>
            <span>
                {{'PURGELOGS_Instructions' | translate }}
            </span>

        </div>
        <div class="form-group">
            <label for="olderThan" class="col-md-4 control-label">
                {{'PURGELOGS_OlderThanDisplay' | translate }}
            </label>
            <div class="col-sm-4">
                <div class="input-group date"
                     datetimepicker-options="{{PurgeLogsController.datePicker.options}}"
                     datetimepicker
                     name="datePicker"
                     required
                     ng-change="PurgeLogsController.validateForm()"
                     ng-model="PurgeLogsController.olderThanDisplay">
                    <input type="text"
                           class="form-control"
                           name="datePicker2"
                           placeholder="{{'GENERIC_StartDate' | translate}}"
                           ng-bind="PurgeLogsController.olderThanDisplay" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div ng-if="PurgeLogsController.purgeLogsForm._submitted" class="text-danger">
                    <div ng-if="purgeLogsForm.datePicker.$error.required">
                        {{ 'PURGELOGS_Field_Required' | translate}}
                    </div>
                </div>


            </div>
        </div>
        <div class="form-group">
            <label for="severity" class="col-md-4 control-label">
                {{'PURGELOGS_Severity' | translate }}
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input id="sevInfo"
                               type="checkbox"
                               class="checkbox-component"
                               ng-model="PurgeLogsController.severityinformation"
                               ng-true-value="true"
                               ng-false-value="false" />
                        <span>
                            {{'PURGELOGS_Information' | translate }}
                        </span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="sevWarn"
                               type="checkbox"
                               class="checkbox-component"
                               ng-model="PurgeLogsController.severitywarning"
                               ng-true-value="true"
                               ng-false-value="false" />
                        <span>
                            {{'PURGELOGS_Warning' | translate }}
                        </span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="sevCrit"
                               type="checkbox"
                               class="checkbox-component"
                               ng-model="PurgeLogsController.severitycritical"
                               ng-true-value="true"
                               ng-false-value="false" />
                        <span>
                            {{'PURGELOGS_Critical' | translate }}
                        </span>
                    </label>
                </div>
            </div>
        </div>

    </form>

    <footer>

        <ul class="list-unstyled list-inline text-right">
            <li>
                <button id="submitPurge"
                        class="btn btn-primary"
                        ng-click="PurgeLogsController.purgeLogsForm._submitted = true; PurgeLogsController.purgeLogsForm.$valid && PurgeLogsController.doPurge();">
                    {{'GENERIC_Apply' | translate }}
                </button>
            </li>
            <li>
                <button id="cancelPurge" class="btn btn-default" type="button" ng-click="PurgeLogsController.close()">
                    {{'GENERIC_Cancel' | translate }}
                </button>
            </li>
        </ul>
    </footer>

</div>
