<div class="well" style="background-color: #007db8; color: white;">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li class="col-xs-1">
                    <i class="ci ci-info-circle-info" style="font-size: 25px"></i>
                </li>
                <li class="col-xs-11">
                    <p>
                        {{'TEMPLATES_CREATE_TEMPLATE_WIZARD_EMCUpload_InfoText_1'|translate}}
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            • {{'TEMPLATES_CREATE_TEMPLATE_WIZARD_EMCUpload_InfoText_2a' |translate}}
                        </li>
                        <li>
                            • {{'TEMPLATES_CREATE_TEMPLATE_WIZARD_EMCUpload_InfoText_2b' |translate}}
                        </li>
                    </ul>
                    <p style="margin-top: 10px;">
                        {{'TEMPLATES_CREATE_TEMPLATE_WIZARD_EMCUpload_InfoText_3'|translate}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>