<div id="modal_createUser">
    <error-display errors="createUser.errors" on-click="$root.ASM.RemoveError(error, createUser.errors)" on-expand-collapse=""></error-display>
    <p>{{'SETTINGS_UsersSecurityMessage'|translate}}</p>
    <form class="form-horizontal"
          id="adduserform"
          role="form"
          name="createUserModal"
          novalidate
          form-validation="createUser.submitform">
        <div class="form-group">
            <label for="currentPassword" class="col-md-3 control-label">
                {{'SETTINGS_CurrentPassword' | translate}}*
                <a class="ci ci-info-circle-info"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{'SETTINGS_CurrentUserPassword' |translate}}"></a>

            </label>
            <div class="col-md-3">
                <div class="input-group">
                    <input id="currentPassword"
                           name="currentPassword"
                           ng-model="createUser.newUser.currentpassword"
                           required
                           class="form-control"
                           type="password" password-viewer 
                           placeholder="" />
                
                </div>
                <span ng-if="createUserModal.currentPassword.$error.required && createUser.submitform == true" class="text-danger">
                    {{'GENERIC_PasswordRequired' | translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="userName" class="col-md-3 control-label">
                {{'GENERIC_UserName' | translate}}*
            </label>
            <div class="col-md-3">
                <input required name="userName" type="text" class="form-control" id="userName" ng-model="createUser.newUser.username">
                <span ng-if="createUserModal.userName.$error.required && createUser.submitform == true" class="text-danger">
                    {{'GENERIC_UserNameRequired' | translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-3 control-label">
                {{'GENERIC_Password' | translate}}*
            </label>
            <div class="col-md-3">
                <div class="input-group">
                    <input id="password"
                           minlength="7"
                           ng-maxlength="32"
                           name="password"
                           ng-model="createUser.newUser.password"
                           required
                           class="form-control"
                           type="password" password-viewer />
                  
                </div>
                <span ng-if="createUser.submitform == true" class="text-danger">
                    <span ng-if="createUserModal.password.$error.required">
                        {{'GENERIC_PasswordRequired' | translate}}
                    </span>                    
                    <span ng-if="createUserModal.password.$error.minlength || createUserModal.password.$error.maxlength"
                         translate="VALIDATIONMESSAGES_rangelength"
                         translate-values="{min:7, max:32}"></span>
                </span>
               
            </div>
        </div>
        <div class="form-group">
            <label for="confirmationPassword" class="col-md-3 control-label">
                {{'SETTINGS_ConfirmPassword' | translate}}*
            </label>
            <div class="col-md-3">
                <div class="input-group">
                    <input id="confirmationPassword"
                           name="confirmationPassword"
                           ng-match="createUser.newUser.password"
                           ng-model="createUser.newUser.confirmationPassword"
                           required
                           class="form-control"
                           type="password" password-viewer/>
                    
                </div>
                <span ng-if="createUser.submitform == true">
                    <span ng-if="createUserModal.confirmationPassword.$error.required" class="text-danger">
                        {{'GENERIC_ConfirmPasswordRequired' | translate}}
                    </span>
                    <span ng-if="!createUserModal.confirmationPassword.$error.required && createUser.newUser.confirmationPassword !== createUser.newUser.password" class="text-danger">
                        {{'CREDENTIALS_Password_Match'|translate}}
                    </span>
                </span>

            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-md-3 control-label">
                {{'GENERIC_FirstName' | translate}}
            </label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="firstName" ng-model="createUser.newUser.firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-md-3 control-label">
                {{'GENERIC_LastName' | translate}}
            </label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="lastName" ng-model="createUser.newUser.lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="col-md-3 control-label">
                {{'GENERIC_Role' | translate}}*
            </label>
            <div class="col-md-3">
                <select required
                        name="role"
                        id="role"
                        class="form-control"
                        ng-options="role as role.name for role in createUser.roles"
                        ng-model="createUser.userRole">
                    <option value="">{{'SETTINGS_USERS_SelectARole'|translate}}</option>
                </select>
                <span ng-if="createUser.submitform == true && !createUser.userRole.id" class="text-danger">
                    {{'Role Required' | translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-3 control-label">
                {{'GENERIC_Email' | translate}}
            </label>
            <div class="col-md-3">
                <input type="email"
                       name="email"
                       class="form-control"
                       id="email"
                       placeholder=""
                       ng-model="createUser.newUser.email"
                       ng-model-options="{ debounce: 1000 }">
                <span class="text-danger" ng-if="createUserModal.email.$invalid && createUser.submitform == true">
                    {{'SETTINGS_EnterValidEmail' | translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-md-3 control-label">
                {{'GENERIC_Phone' | translate}}
            </label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="phone" placeholder="" ng-model="createUser.newUser.phone">
            </div>
        </div>
        <div class="form-group">
            <label for="enableuser" class="col-md-3 control-label">
                {{'SETTINGS_EnableUser' | translate}}
            </label>
            <div class="col-md-3">
                <input type="checkbox" class="" id="enableuser" placeholder="" ng-model="createUser.newUser.enabled">
            </div>
        </div>

    </form>

    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="createUser.submitform = true;
                            createUserModal.$valid
                            && createUser.newUser.confirmationPassword === createUser.newUser.password
                            && createUser.saveUser()"
                        id="createuserconfirm">
                    {{'GENERIC_Save' | translate}}
                </button>
            </li>
            <li>
                <button type="button"
                        class="btn btn-default"
                        ng-click="createUser.cancel()"
                        id="controllerEditAssetTagModalCancelButton">
                    {{'GENERIC_Cancel' | translate}}
                </button>
            </li>
        </ul>
    </footer>
</div>
