
<section id="page_directoryserviceslist">
    
    <div id="usersmasterdetails" class="master-details">
        <div class="AbsoluteFullHeight">
            <div class="TopPortion">
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button id="new_directory_link" class="btn btn-default" ng-click="directoryList.createdirectory()" ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')">
                                {{'GENERIC_Create' | translate}}
                            </button>
                        </li>
                        <li>
                            <button id="edit_directory_link" class="btn btn-default" ng-disabled="directoryList.selectedDirectories().length != 1 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" ng-click="directoryList.editdirectory()">
                                {{'GENERIC_Edit' | translate}}
                            </button>
                        </li>
                        <li>
                            <button id="delete_user_link" class="btn btn-default" ng-disabled="directoryList.selectedDirectories().length == 0 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" ng-click="directoryList.deleteDirectory()">
                                {{'GENERIC_Delete' | translate}}
                            </button>
                        </li>
                    </ul>

                    <table id="users_table" class="table table-striped table-hover" st-table="directoryList.displayedresults" st-safe-src="directoryList.results">
                        <thead>
                            <tr>
                                <th>
                                    <input id="selectAllUsers" type="checkbox" ng-click="directoryList.checkAll()" ng-model="directoryList.checkAllBox" />
                                </th>
                                <th st-sort="hostName" tabindex="0">
                                    {{'SETTINGS_HostIpAddress' | translate}}
                                </th>
                                <th st-sort="name" tabindex="0">
                                    {{'GENERIC_Name' | translate}}
                                </th>
                                <th st-sort="directorytype" tabindex="0">
                                    {{'SETTINGS_DirectoryType' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-if="directoryList.displayedresults.length >= 1">
                            <tr ng-repeat="directory in directoryList.displayedresults" ng-click="directoryList.selectedDetail = directory" ng-class="{'st-selected': directoryList.selectedDetail == directory}">
                                <td>
                                    <input type="checkbox" ng-model="directory.isSelected" />
                                </td>
                                <td>
                                    {{directory.hostName}}
                                </td>
                                <td>
                                    {{directory.serverName}}
                                </td>
                                <td>
                                    {{directory.directoryName}}
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="directoryList.displayedresults.length == 0">
                            <tr>
                                <td colspan="8">
                                    {{'SETTINGS_DirectoryServicesNoDirAdded' | translate}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="directoryList.displayedresults.length >= 1">
                            <tr>
                                <td colspan="8" class="text-center">
                                    <div st-pagination="directoryList.displayedresults" st-items-by-page="20" st-displayed-pages=""></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
