<section id="page_jobs">
    <h2>{{'GENERIC_Jobs' | translate}}</h2>
    <ul class="list-unstyled list-inline">
        <li>
            <button id="cancelJob"
                    class="btn btn-default"
                    ng-click="jobs.cancelJob()"
                    ng-disabled="jobs.cancelButtonActive() !== true || jobs.checkselected().length == 0 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')">
                <i class="ci-state-critical-health-2"></i>{{'GENERIC_Cancel' | translate}}
            </button>
        </li>
    </ul>
    <table id="JobsGrid" class="table table-striped table-hover table-condensed" st-table="jobs.displayedresults" st-safe-src="jobs.results">
        <thead>
        <tr>
            <th class="checkColumn">
                <input id="selectAllJobs" type="checkbox" ng-click="jobs.checkAll()" ng-model="jobs.checkAllBox"/>
            </th>
            <th st-sort="status" tabindex="0">
                {{'GENERIC_State' | translate}}
            </th>
            <th st-sort="name" tabindex="0">
                {{'SETTINGS_Jobs' | translate}}
            </th>
            <th st-sort="startDate" st-sort-default="reverse" tabindex="0">
                {{'GENERIC_StartTime' | translate}}
            </th>
            <th>
            </th>
            <th tabindex="0">
                {{'SETTINGS_TimeElapsed' | translate}}
            </th>
        </tr>
        </thead>
        <tbody ng-if="jobs.results.length != 0">
        <tr ng-repeat="job in jobs.displayedresults" id="jobRow{{$index}}" ng-class="{'st-selected': job.isSelected == true}">
            <td class="checkColumn">
                <input type="checkbox" ng-model="job.isSelected"/>
            </td>
            <td>
                {{job.status | jobState}}
            </td>
            <td>
                {{job.name}}
            </td>
            <td>
                <datetime-display time="job.startDate" time-format="'LLL'"></datetime-display>
            </td>
            <td>
                <datetime-display time="job.endDate" time-format="'LLL'"></datetime-display>
            </td>
            <td>
                {{job.elapsedTime}}
            </td>
        </tr>
        </tbody>

        <tbody ng-if="jobs.results.length == 0">
        <tr>
            <td colspan="6">
                {{'SETTINGS_NoJobs' | translate}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="jobs.displayedresults" st-items-by-page="20" st-displayed-pages=""></div>
            </td>
        </tr>
        </tfoot>
    </table>

</section>
