<section id="page_credentials">
    <error-display errors="creds.errors"
                   on-click="$root.ASM.RemoveError(error, creds.errors)"
                   on-expand-collapse=""></error-display>
    <div class="master-details" id="masterdetail_credentials">
        <section class="master">
            <header>
                <h1>
                    {{'CREDENTIALS_Title' | translate }}
                </h1>
            </header>
            <ul class="list-inline list-unstyled">
                <li>
                    <button id="new_credential_link" 
                            class="btn btn-default" 
                            ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" 
                            ng-click="creds.doUpdates('create')">
                        <i class="ci-action-add-plus-float"></i>
                            {{'GENERIC_Create' | translate }}
                    </button>
                </li>
                <li>
                    <button id="edit_credentials_link"
                            ng-disabled="creds.selectedCredential.canedit==false || creds.credentials.length==0 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')"
                            class="btn btn-default" 
                            ng-click="creds.doUpdates('edit')">
                        <i class="ci-doc-blank-pencil-edit-o"></i>
                            {{'GENERIC_Edit' | translate }}
                    </button>
                </li>
                <li>
                    <button id="delete_credential_link" 
                            ng-disabled="creds.selectedCredential.candelete==false || creds.credentials.length==0 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')"
                            class="btn btn-default" 
                            ng-click="creds.doDelete()">
                        <i class="ci-trash"></i>
                            {{'GENERIC_Delete' | translate }}
                    </button>
                </li>
                <li class="pull-right" >
                    <button id="refresh_credentials_link" class="btn btn-link" ng-disabled="creds.credentials.length<=0" ng-click="creds.refresh(true)">
                        <span class="ci-arrow-curve-forward-right-refresh" />
                    </button>
                </li>
            </ul>

            <table id="credentials_table" class="table table-striped table-hover master-body table-condensed"
                   st-skip-natural="true" st-table="creds.credentials" st-safe-src="creds.credentialsSafe">
                <thead>
                    <tr>
                        <th tabindex="0" st-sort-default="true" st-sort="credentialsName">{{'CREDENTIALS_THName' | translate }}</th>
                        <th tabindex="0" st-sort="'typeName'">{{'CREDENTIALS_THType' | translate }}</th>
                        <th tabindex="0" st-sort="'numberOfDevices'">{{'CREDENTIALS_THDevices' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="credItem in creds.credentials" 
                    ng-class="{'st-selected': creds.selectedCredential.credentialsName == credItem.credentialsName}" 
                    ng-click="creds.onSelectedCredential(credItem)">
                        <td>{{credItem.credentialsName}}</td>
                        <td>{{credItem.typeName}}</td>
                        <td>{{credItem.numberOfDevices}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="creds.viewData.displayedSummaries" st-items-by-page="20" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </section>

        <section class="well">
            <header>
                {{'CREDENTIALSDETAILS_Header' | translate }}
                : <b>{{creds.selectedCredential.credentialsName}}</b>
            </header>
            <nav id="tabMenu" style="margin-top: 20px">
                <ul class="nav nav-tabs greybackground" role="tablist">
                    <li role="tab" aria-controls="summary" class="active">
                        <a href="#summary" data-toggle="tab">
                            {{'CREDENTIALSDETAILS_Tabs_Summary' | translate }}
                        </a>
                    </li>
                    <!--
                        3.17.2016 JEK - 99.99% sure that devices and templates
                        will never appear
                    -->
                    <li class="hidden" role="tab" aria-controls="devices">
                        <a href="#devices" data-toggle="tab">
                            {{'CREDENTIALSDETAILS_Tabs_Devices' | translate }}
                        </a>
                    </li>
                    <li class="hidden" role="tab" aria-controls="templates">
                        <a href="#templates" data-toggle="tab">
                            {{'CREDENTIALSDETAILS_Tabs_Templates' | translate }}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <section id="summary" role="tabpanel" class="tab-pane active field-list">
                    <div>
                        <label>
                            {{'CREDENTIALSDETAILS_Credential_CreatedBy' | translate }}
                        </label>
                        <span>{{creds.selectedCredential.createdBy}}</span>
                    </div>
                    <div>
                        <label>
                            {{'CREDENTIALSDETAILS_Credential_CreationTime' | translate }}
                        </label>
                        <datetime-display time="creds.selectedCredential.creationTime" time-format="'LLL'" />
                    </div>
                    <div>
                        <label>
                            {{'CREDENTIALSDETAILS_Credential_UpdateTime' | translate }}
                        </label>
                        <datetime-display time="creds.selectedCredential.updateTime" time-format="'LLL'" />
                    </div>
                    <div>
                        <label>
                            {{'CREDENTIALSDETAILS_Credential_UpdatedBy' | translate }}
                        </label>
                        <span>{{creds.selectedCredential.updatedBy}}</span>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>
