<div class="master-details" id="page_pools">
    <!--
        3.29.2016 JEK - verify that $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard') is implemented
    -->

    <section class="master">
        <header>
            <h1>
                {{'LISTPOOLS_Title' | translate }}
            </h1>
        </header>
        <ul class="list-unstyled list-inline">
            <li>
                <button id="new_pool_link" class="btn btn-default" ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" ng-click="VirtualIdentityPoolsController.doAddWizard()">
                    <i class="ci-action-add-plus-float"></i>
                    {{'GENERIC_Create' | translate }}
                </button>
            </li>
            <li>
                <button tabindex="0" id="btnExportPool" class="btn btn-default" ng-disabled="VirtualIdentityPoolsController.vipItemsSelected().length==0 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" ng-click="VirtualIdentityPoolsController.doExport()">
                    <i class="ci-arrow-bold-line-export-up"></i>
                    {{'GENERIC_Export' | translate }}
                </button>
            </li>
            <li>
                <button id="delete_pool_link" class="btn btn-default" ng-disabled="VirtualIdentityPoolsController.vipItemsSelected().length==0 || VirtualIdentityPoolsController.canDelete()=='false'" ng-click="VirtualIdentityPoolsController.doDelete()">
                    <i class="ci-trash"></i>
                    {{'GENERIC_Delete' | translate }}
                </button>
            </li>
            <!--<li class="pull-right">
                <button id="refresh_pools_link" class="btn btn-link" ng-click="VirtualIdentityPoolsController.refresh(true)">
                    <i class="ci-arrow-curve-forward-right-refresh"></i>
                </button>
            </li>-->

        </ul>

        <table id="pools_table" class="table table-striped table-hover master-body"
               st-skip-natural="true" st-table="VirtualIdentityPoolsController.displayedData" st-safe-src="VirtualIdentityPoolsController.viewModel">
            <thead>
                <tr>
                    <th style="width: 1px;">
                        <input id="selectAllPools" type="checkbox" ng-click="VirtualIdentityPoolsController.onCheckAllPools()" ng-disabled="VirtualIdentityPoolsController.displayedData.length==0 || $root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" ng-model="VirtualIdentityPoolsController.checkAllBox" ng-true-value="true" ng-false-value="false" />
                    </th>
                    <th tabindex="0" st-sort="'name'">{{'LISTPOOLS_THName' | translate }}</th>
                    <th tabindex="0" st-sort="'description'">{{'LISTPOOLS_THDescription' | translate }}</th>
                    <th tabindex="0" st-sort="'createdby'">{{'LISTPOOLS_THCreatedBy' | translate }}</th>
                    <th tabindex="0" st-sort="'createddate'">{{'LISTPOOLS_THCreatedDate' | translate }}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="vipItem in VirtualIdentityPoolsController.displayedData" ng-class="{'st-selected': VirtualIdentityPoolsController.selectedVIP.id == vipItem.id}" ng-click="VirtualIdentityPoolsController.onSelectedVIP(vipItem)">
                    <td>
                        <input type="checkbox" ng-model="vipItem.isSelected" />
                    </td>
                    <td>{{vipItem.name}}</td>
                    <td>{{vipItem.description}}</td>
                    <td>{{vipItem.createdby}}</td>
                    <td><datetime-display time="vipItem.createddate" time-format="'LLL'" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div id="pager-poolSummaries" st-pagination="VirtualIdentityPoolsController.displayedData" st-items-by-page="20" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>

    <section class="details" ng-if="!VirtualIdentityPoolsController.selectedVIP==''">
        <header>
            {{'LISTPOOLS_Detail_Heading' | translate }}<b>{{VirtualIdentityPoolsController.selectedVIP.name}}</b>
        </header>
        <nav id="tabMenu" style="margin-top: 20px">
            <ul class="nav nav-tabs greybackground" role="tablist">
                <li role="tab" aria-controls="summary" class="active">
                    <a id="tabSummary" href="#summary" data-toggle="tab">
                        {{'LISTPOOLS_Tab_Summary' | translate }}
                    </a>
                </li>
                <li class="hidden" role="tab" aria-controls="templates">
                    <a id="tabDeploymentTemplates" href="#deployment_templates" data-toggle="tab">
                        {{'LISTPOOLS_Tab_Server_Templates' | translate }}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="tab-content">
            <section id="summary" role="tabpanel" class="tab-pane active">
                <div class="row">
                    <div class="col-sm-3">
                        <fieldset>
                            <legend>
                                {{'LISTPOOLS_Summary_LAN_Header' | translate }}
                            </legend>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Prefix' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualMACUserPrefixSelection}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Reserved' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.lanReservedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Assigned' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.lanAssignedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Available' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.lanAvailableAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Auto_Generate' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualMACAutoGenerateOnDeploy | able}}</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link" ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" id="btnEditMacPool" ng-click="VirtualIdentityPoolsController.doUpdatePool('mac')">
                                        {{'LISTPOOLS_Summary_Update_Pool_Identities' | translate }}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-3">
                        <fieldset>
                            <legend>
                                {{'LISTPOOLS_Summary_ISCSI_Header' | translate }}
                            </legend>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Prefix' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualIQNUserPrefix}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Reserved' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.iscsiReservedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Assigned' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.iscsiAssignedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Available' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.iscsiAvailableAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Auto_Generate' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualIQNAutoGenerateOnDeploy | able}}</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link" ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" id="btnEditIQNPool" ng-click="VirtualIdentityPoolsController.doUpdatePool('iqn')">
                                        {{'LISTPOOLS_Summary_Update_Pool_Identities' | translate }}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-3">
                        <fieldset>
                            <legend>
                                {{'LISTPOOLS_Summary_WWPN_Header' | translate }}
                            </legend>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Prefix' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualWWPNUserPrefixSelection}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Reserved' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.wwpnReservedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Assigned' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.wwpnAssignedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Available' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.wwpnAvailableAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Auto_Generate' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualWWPNAutoGenerateOnDeploy | able}}</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link" ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" id="btnEditWWPNPool" ng-click="VirtualIdentityPoolsController.doUpdatePool('wwpn')">
                                        {{'LISTPOOLS_Summary_Update_Pool_Identities' | translate }}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-3">
                        <fieldset>
                            <legend>
                                {{'LISTPOOLS_Summary_WWNN_Header' | translate }}
                            </legend>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Prefix' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualWWNNUserPrefixSelection}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Reserved' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.wwnnReservedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Assigned' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.wwnnAssignedAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Available' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.wwnnAvailableAddressPools}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        {{'LISTPOOLS_Summary_Auto_Generate' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{VirtualIdentityPoolsController.selectedSummary.virtualWWNNAutoGenerateOnDeploy | able}}</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link" ng-disabled="$root.ASM.IsInRole('readonly') || $root.ASM.IsInRole('standard')" id="btnEditWWNNPool" ng-click="VirtualIdentityPoolsController.doUpdatePool('wwnn')">
                                        {{'LISTPOOLS_Summary_Update_Pool_Identities' | translate }}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </section>
            <!-- jek 3.28.2016 - 99.99% sure this section is never shown -->
            <section id="deployment_templates" role="tabpanel" class="tab-pane">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                {{'LISTPOOLS_Summary_Template_Useage_Name' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="1">
                                {{'LISTPOOLS_Summary_Template_Useage_None' | translate }}
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr ng-repeat="templateItem in VirtualIdentityPoolsController.displayedData.poolTemplateUsages">
                            <td>{{templateItem.templateName}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </section>

</div>
