<div>

    <div ng-repeat="credentialType in osCredentialsController.credentialTypes"  ng-if="(osCredentialsController.osCredentials | filter: {'type': credentialType.type}).length">
        <div class="form-group">
            <h3 class="col-xs-12">{{credentialType.name}}</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 20%">{{"SERVICE_ADD_EXISTING_Service_OS_Credentials_TH_Name" | translate}}</th>
                    <th style="width: 20%">{{"SERVICE_ADD_EXISTING_Service_OS_Credentials_TH_IPAddress" | translate}}</th>
                    <th style="width: 30%">
                        {{"SERVICE_ADD_EXISTING_Service_OS_Credentials_TH_Credentials" | translate}}
                        <a class="ci ci-info-circle-info text-primary"
                           popover
                           data-trigger="hover"
                           data-content-template="OSCredentialsInfoIcon.html"
                           title="{{'SERVICE_ADD_EXISTING_AvailableInventory'|translate}}"></a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <chevron item="credentialType.show"
                                 id="osCredentialChevron_{{$index}}">
                        </chevron>
                    </td>
                    <td>
                        {{credentialType.name}}({{(osCredentialsController.osCredentials | filter: {'type': credentialType.type}).length}})
                    </td>
                    <td></td>
                    <td>
                        <select id="master_selection_{{credentialType.type}}"
                                class="form-control"
                                name="master_selection_{{credentialType.type}}"
                                ng-model="credentialType.credentialId"
                                ng-options="credential.id as credential.credentialsName for credential in osCredentialsController.credentials"
                                ng-required="(osCredentialsController.osCredentials| filter:{'type':credentialType.type, 'credentialId' : null}).length"
                                ng-change="credentialType.credentialId && osCredentialsController.masterCredentialChange(credentialType.credentialId, (osCredentialsController.osCredentials| filter:{'type':credentialType.type}))">
                            <option value="">{{'GENERIC_select' |translate}}</option>
                        </select>
                        <div ng-if="osCredentialsController.form._submitted" class="text-danger">
                            <div ng-if="osCredentialsController.form['master_selection_' + credentialType.type].$error.required">
                                {{'GENERIC_RequiredField' | translate}}
                            </div>
                        </div>
                    </td>
                    <td>
                        <button ng-click="osCredentialsController.addCredential(credentialType, (osCredentialsController.osCredentials | filter: {'type': credentialType.type}))"
                                ng-if="(osCredentialsController.osCredentials | filter: {'type': credentialType.type}).length"
                                class="btn btn-link text-primary">
                            <i class="ci ci-action-add-plus-float"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="server in osCredentialsController.osCredentials | filter: {'type': credentialType.type}"
                    ng-if="credentialType.show">
                    <td></td>
                    <td>{{server.name}}</td>
                    <td>
                        <a class="ipLink"
                           ng-click="osCredentialsController.launchManagementIP(server.ipAddressUrl)"
                           ng-if="!(server.ipAddressUrl == '' || server.ipAddressUrl == null)">
                            {{server.ipAddress}}
                        </a>
                        <span ng-if="server.ipAddressUrl == '' || server.ipAddressUrl == null">
                            {{server.ipAddress}}
                        </span>
                    </td>
                    <td ng-if="server._editMode">
                        <select id="credentials_servers"
                                class="form-control"
                                name="credentialSelection_{{server.type}}_{{$index}}"
                                ng-model="server.credentialId"
                                ng-change="server._editMode = false; "
                                ng-options="credential.id as credential.credentialsName for credential in osCredentialsController.credentials"
                                ng-required="true">
                            <option value="">{{'GENERIC_select' |translate}}</option>
                        </select>
                        <div ng-if="osCredentialsController.form._submitted" class="text-danger">
                            <div ng-if="osCredentialsController.form['credentialSelection_' + server.type + '_' + $index].$error.required">
                                {{'GENERIC_RequiredField' | translate}}
                            </div>
                        </div>
                    </td>
                    <td ng-if="server._editMode">
                        <button ng-click="osCredentialsController.addCredential(server)"
                                class="btn btn-link text-primary">
                            <i class="ci ci-action-add-plus-float"></i>
                        </button>
                    </td>
                    <td ng-if="!server._editMode">
                        <list-lookup list="osCredentialsController.credentials"
                                     id="credentialId_{{server.id}}"
                                     key="server.credentialId"
                                     property-name="'credentialsName'"></list-lookup>
                        <button class="btn btn-link pull-right"
                                id="lnkEditService"
                                ng-click="server._editMode = true; server.credentialId = undefined; credentialType.credentialId = undefined">
                            <i class="info ci-edit-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table ng-if="osCredentialsController.osCredentials.length === 0 || !osCredentialsController.osCredentials" class="table">
            <thead>
                <tr>
                    <th>{{"SERVICE_ADD_EXISTING_Service_OS_Credentials_TH_Name" | translate}}</th>
                    <th>{{"SERVICE_ADD_EXISTING_Service_OS_Credentials_TH_IPAddress" | translate}}</th>
                    <th>
                        {{"SERVICE_ADD_EXISTING_Service_OS_Credentials_TH_Credentials" | translate}}
                        <a class="ci ci-info-circle-info text-primary"
                           popover
                           data-trigger="hover"
                           data-content-template="OSCredentialsInfoIcon.html"
                           title="{{'SERVICE_ADD_EXISTING_AvailableInventory'|translate}}"></a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" class="text-center">
                        {{"SERVICE_ADD_EXISTING_Service_NoCredentials" | translate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="OSCredentialsInfoIcon.html">
        <div class="popover-body" ng-bind-html="'TEMPLATES_UploadExternalModal_Tooltip_NotSVM' | translate | htmlSafe"></div>
    </script>

</div>