<div id="">
    <div class="col-sm-6">
        <label class="control-label"
               for="{{credentialsSettingsController.id}}"
               data-toggle="tooltip"
               id="{{'label_' + credentialsSettingsController.setting.id}}"
               data-placement="right"
               data-html="true"
               title="{{credentialsSettingsController.setting.tooltip|htmlSafe}}">
            {{ (credentialsSettingsController.setting.id | translateLabel : credentialsSettingsController.category.id : credentialsSettingsController.setting.name) | titleCase }}
        </label>
        <span ng-if="credentialsSettingsController.setting.required">*</span>
        <span id="{{'tootip_' + credentialsSettingsController.setting.id}}"
              ng-if="credentialsSettingsController.setting.tooltip && !credentialsSettingsController.setting.useinfotooltip && !credentialsSettingsController.readOnlyMode"
              data-toggle="tooltip"
              data-placement="right"
              data-html="true"
              title="{{credentialsSettingsController.setting.tooltip}}">
            <i class="ci ci-info-circle-info text-primary"></i>
        </span>
        <span id="{{'label_info_' + credentialsSettingsController.setting.id}}"
              ng-if="credentialsSettingsController.setting.tooltip && credentialsSettingsController.setting.useinfotooltip && !credentialsSettingsController.readOnlyMode"
              data-toggle="tooltip"
              data-placement="right"
              title="{{credentialsSettingsController.setting.tooltip}}">
            <i class="ci ci-info-circle-info text-primary"></i>
        </span>
    </div>
    <div class="col-sm-5" ng-if="!credentialsSettingsController.readOnlyMode">
        <spinner ng-if="credentialsSettingsController.loadingCredentials"></spinner>
        <select id="{{credentialsSettingsController.id}}"
                ng-if="!credentialsSettingsController.loadingCredentials"
                class="form-control"
                name="{{credentialsSettingsController.id}}"
                ng-model="credentialsSettingsController.setting.value"
                ng-options="credential.id as credential.credentialsName for credential in credentialsSettingsController.credentials"
                required>
            <option value="">{{'GENERIC_select' |translate}}</option>
        </select>
        <!-- Validation Messages -->
        <div class="text-danger" ng-if="credentialsSettingsController.form._submitted">
            <div ng-if="credentialsSettingsController.form[credentialsSettingsController.id].$error.required">
                {{'GENERIC_RequiredField'|translate}}
            </div>
        </div>
    </div>
    <div class="col-sm-1" ng-if="!credentialsSettingsController.readOnlyMode">
        <button ng-click="credentialsSettingsController.addCredential(server)"
                ng-if="!credentialsSettingsController.loadingCredentials"
                id="{{'add_' + credentialsSettingsController.setting.id}}"
                class="btn btn-link text-primary">
            <i class="ci ci-action-add-plus-float"></i>
        </button>
    </div>
    <div class="col-sm-6 form-control-static" ng-if="credentialsSettingsController.readOnlyMode">
        <list-lookup list="credentialsSettingsController.credentials"
                     id="credential_{{credentialsSettingsController.id}}"
                     key="credentialsSettingsController.setting.value"
                     property-name="'credentialsName'"></list-lookup>
        <!--<button class="btn btn-link pull-right"
                id="{{'edit_' + credentialsSettingsController.setting.id}}"
                ng-click="credentialsSettingsController.editMode = true; credentialsSettingsController.credentialId = ''">
            <i class="info ci-edit-pencil"></i>
        </button>-->
    </div>

</div>
