<section id="page_edit_credential">
    <error-display errors="editCredentialsController.errors"
                   on-click="$root.ASM.RemoveError(error, editCredentialsController.errors)"
                   on-expand-collapse=""></error-display>
    <p ng-if="editCredentialsController.credential.canedit == false">
        {{'CREDENTIALS_cannotEdit'|translate}}
    </p>
    <form id="editCredentialsController.form"
          name="editCredentialsController.form"
          class="form-horizontal"
          novalidate
          form-validation="editCredentialsController.form._submitted">
        <header>
            <p ng-if="editCredentialsController.editMode == false">
                {{'CREDENTIALSFORM_Create_Help' | translate }}
            </p>
        </header>

        <div class="form-group">
            <label for="credential_type" class="col-md-3 control-label">
                {{'CREDENTIALS_CredentialType' | translate }}
            </label>
            <div class="col-md-4">
                <select id="credential_type"
                        class="form-control"
                        ng-show="editCredentialsController.canChangeCredentialType"
                        required
                        ng-disabled="editCredentialsController.credential.canedit == false"
                        ng-model="editCredentialsController.credential.typeId"
                        ng-options="option.id as option.name for option in editCredentialsController.constants.availableCredentialTypes"
                        ng-change="editCredentialsController.updateType(editCredentialsController.credential.typeId)">
                    <option value="">
                        {{'CREDENTIALS_SelectaCredentialType'|translate}}
                    </option>
                </select>
                <label class="control-label" ng-if="!editCredentialsController.canChangeCredentialType">
                    <list-lookup list="editCredentialsController.constants.availableCredentialTypes"
                                 key="editCredentialsController.credential.typeId"
                                 property-name="'name'"></list-lookup>
                </label>
            </div>
        </div>

        <div ng-if="editCredentialsController.credential.typeId != 'notselected'">
            <div class="form-group">
                <label for="credential_name" class="col-md-3 control-label">
                    {{'CREDENTIALS_Name' | translate }}
                </label>
                <div class="col-md-5">
                    <input id="credential_name"
                           name="credential_name"
                           type="text"
                           ng-disabled="editCredentialsController.credential.canedit == false"
                           required
                           class="form-control"
                           ng-model="editCredentialsController.credential.credentialsName" />
                    <span ng-if="editCredentialsController.form.credential_name.$error.required && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="credential_username_edit"
                       ng-if="!(editCredentialsController.credential.typeId == 'scaleio')">
                    {{'CREDENTIALS_UserName' | translate }}
                </label>
                <label class="col-md-3 control-label" for="credential_username_edit"
                       ng-if="editCredentialsController.credential.typeId == 'scaleio'">
                    {{'CREDENTIALS_GatewayAdminUserName' | translate }}
                </label>
                <div class="col-md-4">
                    <input id="credential_username_edit"
                           name="credential_username_edit"
                           type="text"
                           required
                           ng-disabled="editCredentialsController.credential.canedit == false || editCredentialsController.credential.typeId == 'os'"
                           class="form-control"
                           ng-model="editCredentialsController.credential.username" />
                    <span ng-if="editCredentialsController.form.credential_username_edit.$error.required && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                </div>
            </div>

            <div class="form-group"
                 ng-if="editCredentialsController.credential.typeId == 'vcenter'
                         || editCredentialsController.credential.typeId == 'scvmm'
                         || editCredentialsController.credential.typeId == 'em'">
                <label class="col-md-3 control-label">
                    {{'CREDENTIALS_Domain' | translate }}
                </label>
                <div class="col-md-4">
                    <input id="credential_domain_edit"
                           name="credential_domain_edit"
                           type="text"
                           ng-disabled="editCredentialsController.credential.canedit == false"
                           class="form-control"
                           ng-model="editCredentialsController.credential.domain" />
                    <span ng-if="editCredentialsController.form.credential_domain_edit.$error.required && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="credential_password" class="col-md-3 control-label"
                       ng-if="!(editCredentialsController.credential.typeId == 'scaleio')">
                    {{'CREDENTIALS_Password' | translate }}
                </label>
                <label for="credential_password" class="col-md-3 control-label"
                       ng-if="editCredentialsController.credential.typeId == 'scaleio'">
                    {{'CREDENTIALS_GatewayAdminPassword' | translate }}
                </label>
                <div class="col-md-3">
                    <div class="input-group">
                        <input id="credential_password"
                               name="credential_password"
                               ng-model="editCredentialsController.credential.password"
                               required
                               ng-disabled="editCredentialsController.credential.canedit == false"
                               class="form-control"
                               type="password"
                               password-viewer="{{editCredentialsController.credential.canedit == true && editCredentialsController.editMode == false}}" />
                    </div>
                    <span ng-if="!editCredentialsController.credential.password && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="credential_confirm_password" class="col-md-3 control-label"
                       ng-if="!(editCredentialsController.credential.typeId == 'scaleio')">
                    {{'CREDENTIALS_ConfirmPassword' | translate }}
                </label>
                <label class="col-md-3 control-label" for="credential_confirm_password"
                       ng-if="editCredentialsController.credential.typeId == 'scaleio'">
                    {{'CREDENTIALS_ConfirmGatewayAdminPassword' | translate }}
                </label>
                <div class="col-md-3">
                    <div class="input-group">
                        <input id="credential_confirm_password"
                               name="credential_confirm_password"
                               ng-match="editCredentialsController.credential.password"
                               ng-model="editCredentialsController.credential.confirmPassword"
                               required
                               ng-disabled="editCredentialsController.credential.canedit == false"
                               class="form-control"
                               type="password"
                               password-viewer="{{editCredentialsController.credential.canedit == true && editCredentialsController.editMode == false}}" />
                    </div>
                    <span ng-if="!editCredentialsController.credential.confirmPassword && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                    <span ng-if="editCredentialsController.credential.confirmPassword
                          && (editCredentialsController.credential.password !== editCredentialsController.credential.confirmPassword)
                          && editCredentialsController.form._submitted"
                          class="text-danger">
                        {{ 'CREDENTIALS_Password_Match' | translate}}
                    </span>
                </div>
            </div>

            <div class="form-group"
                 ng-if="editCredentialsController.credential.typeId == 'scaleio'">
                <label class="col-md-3 control-label" for="credential_gatewayosusername_edit">
                    {{'CREDENTIALS_GatewayOSUserName' | translate }}
                </label>
                <div class="col-md-4">
                    <input id="credential_gatewayosusername_edit"
                           name="credential_gatewayosusername_edit"
                           type="text"
                           required
                           ng-disabled="editCredentialsController.credential.canedit == false"
                           class="form-control"
                           ng-model="editCredentialsController.credential.gatewayosusername" />
                    <span ng-if="editCredentialsController.form.credential_gatewayosusername_edit.$error.required && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                </div>
            </div>

            <div class="form-group"
                 ng-if="editCredentialsController.credential.typeId == 'scaleio'">
                <label for="credential_gatewayospassword" class="col-md-3 control-label">
                    {{'CREDENTIALS_GatewayOSPassword' | translate }}
                </label>
                <div class="col-md-3">
                    <div class="input-group">
                        <input id="credential_gatewayospassword"
                               name="credential_gatewayospassword"
                               ng-model="editCredentialsController.credential.gatewayospassword"
                               required
                               ng-disabled="editCredentialsController.credential.canedit == false"
                               class="form-control"
                               type="password"
                               password-viewer="{{editCredentialsController.credential.canedit == true && editCredentialsController.editMode == false}}" />
                    </div>
                    <span ng-if="!editCredentialsController.credential.gatewayospassword && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                </div>
            </div>
            <div class="form-group"
                 ng-if="editCredentialsController.credential.typeId == 'scaleio'">
                <label for="credential_confirm_gatewayospassword" class="col-md-3 control-label">
                    {{'CREDENTIALS_ConfirmGatewayOSPassword' | translate }}
                </label>
                <div class="col-md-3">
                    <div class="input-group">
                        <input id="credential_confirm_gatewayospassword"
                               name="credential_confirm_gatewayospassword"
                               ng-match="editCredentialsController.credential.gatewayospassword"
                               ng-model="editCredentialsController.credential.confirmGatewayOSPassword"
                               required
                               ng-disabled="editCredentialsController.credential.canedit == false"
                               class="form-control"
                               type="password"
                               password-viewer="{{editCredentialsController.credential.canedit == true && editCredentialsController.editMode == false}}" />
                    </div>
                    <span ng-if="!editCredentialsController.credential.confirmGatewayOSPassword && editCredentialsController.form._submitted" class="text-danger">
                        {{ 'CREDENTIALS_Field_Required' | translate}}
                    </span>
                    <span ng-if="editCredentialsController.credential.confirmGatewayOSPassword
                          && (editCredentialsController.credential.gatewayospassword !== editCredentialsController.credential.confirmGatewayOSPassword)
                          && editCredentialsController.form._submitted"
                          class="text-danger">
                        {{ 'CREDENTIALS_Password_Match' | translate}}
                    </span>
                </div>
            </div>

            <div ng-if="editCredentialsController.credential.typeId == 'iom' || editCredentialsController.credential.typeId == 'storage'">
                <fieldset>
                    <legend>
                        {{'CREDENTIALS_SNMPConfig' | translate }}
                    </legend>
                    <div class="form-group">
                        <label for="credential_snmpconfig" class="col-md-3 control-label">
                            {{'CREDENTIALS_CommunityString' | translate }}
                        </label>
                        <div class="col-md-5">
                            <input id="credential_snmpconfig"
                                   ng-disabled="editCredentialsController.credential.canedit == false"
                                   name="credential_snmpconfig"
                                   type="text"
                                   class="form-control"
                                   ng-model="editCredentialsController.credential.communityString" />
                            <span ng-if="editCredentialsController.form.credential_snmpconfig.$error.required && editCredentialsController.form._submitted" class="text-danger">
                                {{ 'CREDENTIALS_Field_Required' | translate}}
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </form>

    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button id="submit_credential_form"
                        class="btn btn-primary"
                        ng-disabled="editCredentialsController.credential.canedit == false"
                        form="editCredentialsController.form"
                        ng-click="editCredentialsController.form._submitted = true;
                                    editCredentialsController.form.$valid
                                    && editCredentialsController.save()">
                    {{'GENERIC_Save' | translate }}
                </button>
            </li>
            <li>
                <button id="cancel_credential_form"
                        class="btn btn-default"
                        ng-click="editCredentialsController.cancel()">
                    {{'GENERIC_Cancel' | translate }}
                </button>
            </li>
        </ul>
    </footer>

</section>
