<section id="page_Configure_Servers_For_Alert_Connector">
  
    <div class="row">
       <div class="col-xs-12">
           {{"SETTINGS_VirtualApplianceManagement_AlertConfigJobModal" | translate}}
       </div>
    </div>

    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button id="btnConfigureOk"
                        type="submit"
                        class="btn btn-warning"
                        ng-click="configureServersForAlertConnectorController.ok()">
                    {{'SETTINGS_VirtualApplianceManagement_Ok'|translate}}
                </button>
            </li>
            <li>
                <button id="btnCancelServiceTag"
                        class="btn btn-default"
                        type="button"
                        ng-click="configureServersForAlertConnectorController.cancel()">
                    {{'GENERIC_Cancel'|translate}}
                </button>
            </li>
        </ul>
    </footer>
</section>

